# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Кроме того, баллы могут быть снижены за**:

- 1 балл снижается за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).


- 5 баллов снижается если ответ на домашнюю работу будет прислан в виде скриншота, ноутбука, текстового файла и прочих способов. Используйте при отправке на проверку только GitHub/GitLab либо прочий сервис. Присылать домашнюю работу необходимо ссылкой на ваш репозиторий на адрес электронной почты maratmovlamov2017@gmail.com


- за каждый день просрочки дедлайна снижается по 10 баллов. Один день - минус 10 баллов, второй день минус 10 баллов, третий день минус 10 баллов. Соблюдайте сроки и не приступайте к домашнему заданию в последний момент.

---

Удачи вам в поисках истинны :)

In [1]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы
import numpy as np
import pandas as pd

In [2]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо
data = pd.read_csv( './baseball_games.csv', delimiter = ',' )
data.head()

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,...,74.0,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win
1,1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,...,55.0,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win
2,2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,...,48.0,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win
3,3,18531.0,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,...,65.0,10.0,from Right to Left,Cloudy,4,2.883333,regular season,0,1,Loss
4,4,18572.0,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,...,77.0,0.0,in unknown direction,In Dome,7,2.650000,regular season,0,1,Loss

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

In [3]:
season = data.drop(data[data['season'] == 'post season'].index)
max_attendance = season[season['attendance'] == season['attendance'].max()]
max_attendance.loc[:, ['attendance', 'away_team', 'home_team', 'date', 'venue']]

,attendance,away_team,home_team,date,venue
534,53621.0,San Francisco Giants,Los Angeles Dodgers,2016-09-20,Dodger Stadium

# 2. Какая игра была самая холодная (temperature) за весь сезон?

In [4]:
season = data.drop(data[data['season'] == 'post season'].index) 
cold_weather = season[season['temperature'] == season['temperature'].min()]
cold_weather.loc[:, ['temperature', 'away_team', 'home_team', 'date']]

      temperature         away_team       home_team        date
2409         31.0  New York Yankees  Detroit Tigers  2016-04-09

# 3. Какая игра была самая теплая за весь сезон?

In [5]:
season = data.drop(data[data['season'] == 'post season'].index) 
hot_weather = season[season['temperature'] == season['temperature'].max()]
hot_weather.loc[:, ['temperature', 'away_team', 'home_team', 'date']]

      temperature             away_team             home_team        date
2026        101.0  San Francisco Giants  Arizona Diamondbacks  2016-05-13

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

In [6]:
season = data.drop(data[data['season'] == 'post season'].index) 
long_game = season[season['game_hours_dec'] == season['game_hours_dec'].max()]
long_game.loc[:, ['game_hours_dec', 'away_team', 'home_team', 'date']]

      game_hours_dec          away_team          home_team        date
1445        6.216667  Cleveland Indians  Toronto Blue Jays  2016-07-01

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [7]:
season = data.drop(data[data['season'] == 'post season'].index) 
shot_game = season[season['game_hours_dec'] == season['game_hours_dec'].min()]
shot_game.loc[:, ['game_hours_dec', 'away_team', 'home_team', 'date']]

     game_hours_dec     away_team           home_team        date
423            1.25  Chicago Cubs  Pittsburgh Pirates  2016-09-29

# 6. Сколько матчей в сезоне закончилось ничьей?

In [8]:
only_season = data.drop(data[data['season'] == 'post season'].index) 
only_season[['home_team_win', 'home_team_loss']].value_counts()

home_team_win  home_team_loss
1              0                 1287
0              1                 1140
               0                    1
dtype: int64

# 7. Какая игра была последней в сезоне?

In [9]:
season = data.drop(data[data['season'] == 'post season'].index) 
last_games = season.sort_values( by = ['date', 'start_time'], ascending = [False, False] ).head(1)
last_games.loc[:, ['date', 'start_time', 'away_team', 'home_team', 'date']]

,date,start_time,away_team,home_team,date
395,2016-10-02,3:17 p.m. Local,Toronto Blue Jays,Boston Red Sox,2016-10-02

# 8. У какой игры было минимальное количество зрителей?

In [10]:
#all games
min_attendance = data[data['attendance'] == data['attendance'].min()]
min_attendance.loc[:, ['attendance', 'away_team', 'home_team', 'date']]

      attendance       away_team          home_team        date
2130      8766.0  Detroit Tigers  Cleveland Indians  2016-05-04

# 9. Какая игра в сезоне была самая ветренная?

In [11]:
season = data.drop(data[data['season'] == 'post season'].index)
wind_game = season[season['wind_speed'] == season['wind_speed'].max()]
wind_game.loc[:, ['wind_speed', 'away_team', 'home_team', 'date']]

      wind_speed          away_team             home_team        date
1655        25.0  Milwaukee Brewers  San Francisco Giants  2016-06-13
2005        25.0     Houston Astros        Boston Red Sox  2016-05-15

# 10. В какой игре получили максимальное количество очков?

In [12]:
#all games
max_total_runs = data[data['total_runs']==data['total_runs'].max()]
max_total_runs.loc[:, ['total_runs', 'away_team', 'home_team', 'date']]

      total_runs         away_team         home_team        date
1788          29  Seattle Mariners  San Diego Padres  2016-06-02

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [13]:
#all games
max_home_team_errors = data[data['home_team_errors'] == data['home_team_errors'].max()]
max_home_team_errors.loc[:, ['home_team_errors', 'away_team', 'home_team', 'date']]

      home_team_errors             away_team          home_team        date
1178                 5  Arizona Diamondbacks  Milwaukee Brewers  2016-07-27

# 12. В какой игре было максимальное количество ранов?

In [14]:
#max_hits for all games

total_hits = data[['away_team_hits', 'home_team_hits']].sum(axis=1)
max_total_hits = data[total_hits == total_hits.max()]               
max_total_hits.loc[:, ['away_team_hits', 'home_team_hits', 'away_team', 'home_team', 'date']]

,away_team_hits,home_team_hits,away_team,home_team,date
1413,16,21,Texas Rangers,Boston Red Sox,2016-07-04

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

In [15]:
data['teams'] = data['home_team']                               
data['quantity_game'] = data['away_team']                                   
#не поняла как сложить значения для гостевой и домашней команд                                     
pd.pivot_table( data, index = 'teams', values = 'quantity_game',  aggfunc= 'count')

                               quantity_game
teams
Arizona Diamondbacks                      81
Atlanta Braves                            81
Baltimore Orioles                         81
Boston Red Sox                            82
Chicago Cubs                              89
Chicago White Sox                         81
Cincinnati Reds                           81
Cleveland Indians                         89
Colorado Rockies                          81
Detroit Tigers                            80
Houston Astros                            81
Kansas City Royals                        81
Los Angeles Angels of Anaheim             81
Los Angeles Dodgers                       86
Miami Marlins                             80
Milwaukee Brewers                         81
Minnesota Twins                           81
New York Mets                             82
New York Yankees                          81
Oakland Athletics                         81
Philadelphia Phillies                     81
Pittsburgh Pirates                        81
San Diego Padres                          81
San Francisco Giants                      83
Seattle Mariners                          81
St. Louis Cardinals                       81
Tampa Bay Rays                            81
Texas Rangers                             83
Toronto Blue Jays                         86
Washington Nationals                      84

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

# 18. Зависит ли выигрышь от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

In [ ]:
#all games

#win = data.drop(data[data['home_team_win'] == 0].index)
#win ['home_team_win']. corr (win ['attendance'])


data ['home_team_win']. corr (data ['attendance']) >= 0.5

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

In [17]:
#all games

#Monday == 1
#Tuesday == 2
#Wednesday == 3
#Thursday == 4
#Friday == 5
#Saturday == 6
#Sunday == 7

#ts = pd.Timestamp('date')
#ts.dayofweek
# не знаю как заменить значения дней недели на численные значения

data[data.groupby( 'day_of_week' )].corr(data['home_team_loss'])

C:\Users\Ekaterina\anaconda3\lib\site-packages\pandas\core\common.py:241: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  result = np.asarray(values, dtype=dtype)

TypeError: unhashable type: 'DataFrame'

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

In [18]:
# all games
# 0 C == 32 F
cold_temperature = data[data['temperature']<=32]
cold_temperature['temperature'].corr(cold_temperature['total_runs'])

-0.9999999999999999